.container {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
}

.container > * {
  flex: 1;
}

@media (min-width: 512px) {
  .container {
    flex-direction: row;
  }

  .container > *:first-child {
    flex: 0.7;
  }
}

.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.order-summary {
  margin: 0 auto 0 0;
  max-width: 450px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 2rem;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}

.checkout-confirmation {
  color: green;
}
